.background {
  background-color: rgb(227, 222, 199);
}

.titulo {
  text-align: center;
  margin-bottom: 2.5rem;
  color: white;
}
.contenedor {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.tarjetas {
  box-shadow: 3px 2px 2px 2px grey;
  border: none;
  width: 35vw;
  transition: 0.3s;
  background-color: white;
  margin-bottom: 2.5rem;
}

.tarjetas:hover {
  transform: scale(1.1);
}

.tarjetas > p{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.6rem;
}

.center-etiquetas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
}

input{
  border: none;
  box-shadow: 2px 2px 2px 2px grey;
  transition: 0.3s;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 5vh;
}

input:hover {
  transform: scale(1.025);
}

.resultado-paralelogramo {
  font-size: 1rem;
  font-weight: bold;
  color: green;
  text-align: center;
  margin-top: 5px;
}

.resultado-peso-paralelogramo {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
  border-radius: 1rem;
  border: 1px;
  box-shadow: 2px 2px 2px 2px grey;
  transition: 0.3s;
  width: 30vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultado-volumen-paralelogramo {
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
  border-radius: 1rem;
  border: 1px;
  box-shadow: 2px 2px 2px 2px grey;
  transition: 0.3s;
  width: 30vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calcular-prisma-rectangular-recto {
  width: 25vw;
  height: 8vh;
  background-color: rgba(85, 69, 2, 0.6);
  border: none;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.calcular-prisma-rectangular-recto:hover {
  transform: scale(1.1);
}

.div-navbar {
  display: flex;
  justify-content: center;
}

.navbar{
  width: 97.5vw;
  background-color: rgba(0, 0, 0, 0.5);
  height: 8vh;
  display: grid;
  place-items: center;
  justify-content: center;
}

.navbar p {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.img-prisma-rectangular-recto {
  width: 8vw;
  height: 8vh;
  transition: 0.3s;
}

.img-prisma-rectangular-recto:hover {
  transform: scale(1.1);
}

.img-cubo {
  width: 8vw;
  height: 13vh;
  transition: 0.3s;
}

.img-cubo:hover {
  transform: scale(1.1);
}

.img-esfera {
  width: 8vw;
  height: 18vh;
  transition: 0.3s;
}

.img-esfera:hover {
  transform: scale(1.1);
}

.img-prisma-circular {
  width: 8vw;
  height: 18vh;
  transition: 0.3s;
}

.img-prisma-circular:hover {
  transform: scale(1.1);
}

.img-prisma-triangular {
  width: 8vw;
  height: 18vh;
  transition: 0.3s;
}

.img-prisma-triangular:hover {
  transform: scale(1.1);
}

.etiqueta-resultados {
  font-size: 1rem;
  color: black;
  margin-right: 0.3rem;
}

.links-figuras {
  text-decoration: none;
  color: black;
}
